name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/node-mern-stack-arthit:latest

  deploy_to_aws:
    name: Deploy to AWS Self-Hosted Runner
    needs: build_and_push
    runs-on: self-hosted
    environment: production
    steps:
      - name: Pull latest image from Docker Hub
        run: |
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/node-mern-stack-arthit:latest

      - name: Stop and remove existing container
        run: |
          docker stop mern-stack-node || true
          docker rm mern-stack-node || true

      - name: Run new container
        run: |
          docker run -d -p 5000:5000 \
            -e MONGODB_URI=${{ secrets.MONGODB_URI }} \
            -e BASE_PORT=${{ secrets.BASE_PORT }} \
            -e JWT_SECRET_KEY=${{ secrets.JWT_SECRET_KEY }} \
            --name mern-stack-node \
            ${{ secrets.DOCKERHUB_USERNAME }}/node-mern-stack-arthit:latest
